$primary: $brand-primary;
$secondary: $brand-secondary;

$white: #fff;
$brown: #7a706f;

//$main-background: #F7F7F7;
$main-background: #ffffff;

$left-background: #7a706f;
$left-width: 280px;
$left-width-sp: 280px;
$left-border: rgba(255,255,255,0.4);
//$left-border: #A6A6A6;
//$font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
$font-family: "Helvetica", -apple-system, BlinkMacSystemFont, "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

$text-dark: #fefefe;

//background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);