/* line 9, ../sass/table.scss */
body .sizeinfo {
  width: 100%;
  background-color: #e8e8e8;
  background-image: url(https://www.tokyo-yogawear.jp/secure/icon/arrow-right.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 10px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
}
/* line 19, ../sass/table.scss */
body .sizeinfo * {
  box-sizing: border-box;
}
/* line 22, ../sass/table.scss */
body .sizeinfo table.size-table {
  width: 93%;
  background: #fff;
  border-collapse: collapse;
  display: block;
}
/* line 31, ../sass/table.scss */
body .sizeinfo table.size-table th, body .sizeinfo table.size-table td {
  width: 90px;
  min-width: 90px;
  min-height: 40px;
  padding: 5px 15px;
  vertical-align: middle;
}
/* line 40, ../sass/table.scss */
body .sizeinfo table.size-table thead {
  border: 1px solid #ccc;
  border-bottom: none;
  display: block;
  float: left;
}
/* line 46, ../sass/table.scss */
body .sizeinfo table.size-table thead tr th {
  width: 50px;
  height: 40px;
  font-size: 12px;
  text-align: center;
  background: #F0EDE4;
  border: 1px solid transparent;
  border-bottom: 1px solid #ccc;
  display: block;
}
/* line 55, ../sass/table.scss */
body .sizeinfo table.size-table thead tr th p {
  white-space: nowrap;
}
/* line 59, ../sass/table.scss */
body .sizeinfo table.size-table thead tr:first-child {
  background: #F0EDE4;
}
/* line 63, ../sass/table.scss */
body .sizeinfo table.size-table thead tr:last-child td {
  border-bottom: 1px solid #ccc;
}
/* line 70, ../sass/table.scss */
body .sizeinfo table.size-table tbody {
  display: block;
  position: relative;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
/* line 80, ../sass/table.scss */
body .sizeinfo table.size-table tbody:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
/* line 87, ../sass/table.scss */
body .sizeinfo table.size-table tbody tr:hover td {
  background: #fafafa;
}
/* line 92, ../sass/table.scss */
body .sizeinfo table.size-table tbody tr td {
  height: 40px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
}
/* line 99, ../sass/table.scss */
body .sizeinfo table.size-table tbody tr td:first-child {
  display: none;
}
/* line 103, ../sass/table.scss */
body .sizeinfo table.size-table tbody tr:first-child {
  background: #F0EDE4;
}
/* line 106, ../sass/table.scss */
body .sizeinfo table.size-table tbody tr:first-child:hover td {
  background: #F0EDE4;
}
/* line 110, ../sass/table.scss */
body .sizeinfo table.size-table tbody tr:first-child td {
  text-align: center;
  border: 1px solid #ccc;
}
/* line 116, ../sass/table.scss */
body .sizeinfo table.size-table tbody tr:last-child td {
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 640px) {
  /* line 131, ../sass/table.scss */
  body .sizeinfo table.size-table tbody {
    overflow: auto;
  }
}
