@charset "utf-8";

/* = 
 * Twenty Twelve
 * widget_fudo Style
 * corners2012.css サイトパーツの装飾
 * @package WordPress4.8
 * Version: 1.8.0
 
 -------------------------------------------------------------- */
/* = common 
-------------------------------------------------------------- */
body,input,textarea,select,.page-title span,.pingback a.url {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Arial,Helvetica,sans-serif;
}

input[type=submit] {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Arial,Helvetica,sans-serif;
}

pre {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Arial,Helvetica,sans-serif;
}

code {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Arial,Helvetica,sans-serif;
}

/* ロールオーバー */
a:hover img {
    opacity:.8;
}

a:link {
    color:#666;
}

/* 未訪問のリンク */
a:visited {
    color:#666;
}

/* 訪問済みのリンク */
a:hover {
    color:#666;
}

/* ポイント時のリンク */
a:active {
    color:#666;
}

/* 選択中のリンク */
a {
    text-decoration:none;
}

/* = header 
-------------------------------------------------------------- */
/* = nav 
-------------------------------------------------------------- */
/* = TOP only
-------------------------------------------------------------- */
#top_fbox #content ul {
    margin:0 0 20px;
    padding-left:2px;
}

#top_fbox #content ul:after {
    display:block;
    clear:both;
    height:5px;
    content:'';
}

#top_fbox #content .grid-content li {
/*	height: 260px;	*/
    font-size:86%;
    line-height:1.4;
    display:block;
    float:left;
    width:150px;
    margin:0 8px 8px 0;
    padding:8px;
    list-style-type:none;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
    outline:1px solid #ccc;
}

:first-child + html #top_fbox #content .grid-content li {
    margin:0 6px 6px 0;
    border:1px solid #ccc;
}

* html #top_fbox #content .grid-content li {
    margin:0 6px 6px 0;
    border:1px solid #ccc;
}

.box1image {
    display:block;
    max-width:100%;
    margin:0 auto;
}

#top_fbox #container #content table {
    margin:0;
    padding:0;
    border:none;
}

#top_fbox #container #content tr td {
    margin:0;
    padding:0;
    border:none;
}

.box1low {
    line-height:1.8;
    margin:0 0 -5px;
    padding:5px 0 0;
}

.box1low a {
    text-decoration:none;
    color:#333;
}

.top_price {
    font-weight:700;
    color:#e30;
}

.top_madori {
    font-weight:700;
}

/* carousel_fudo_top_slider */
.carousel_inner {
    width: 98%!important;
    padding: 1px;
}

/* = TOP twitter
-------------------------------------------------------------- */
#top_fbox #content #twitter_update_list {
    clear:both;
    margin:0 0 20px;
/*	font-size: 12px; */
    padding:10px;
    border:1px solid #dfdfdf;
    border-radius:4px;
}

#top_fbox #content #twitter_update_list a {
    font-weight:400;
    text-decoration:none;
    color:#666;
}

#top_fbox #content #twitter_update_list li a.tw_date {
    font-family:Arial,Helvetica,sans-serif;
    line-height:1.6;
    display:block;
    float:left;
    width:65px;
    margin:0 20px 0 0;
}

#twitter_update_list li a.tw_date:after {
    content:':';
}

#top_fbox #container #content #twitter_update_list li .tw_status {
    line-height:1.6;
    display:block;
    margin:0 0 0 90px;
}

#top_fbox #container #content ul#twitter_update_list {
    padding-left:15px;
}

#top_fbox #container #content ul#twitter_update_list li {
    font-weight:400;
    display:block;
    margin:0;
    padding:0 5px 5px;
    list-style:none;
}

#top_fbox #container #content ul#twitter_update_list li:after {
    display:block;
    clear:both;
    content:'';
}

/* = textwidget
-------------------------------------------------------------- */
#top_fbox #container #content .textwidget {
    line-height:1.6;
    margin:0 0 20px;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
}

/* = widget_search
-------------------------------------------------------------- */
.widget_search input[type='text'],.widget_fudo_search input[type='text'] {
    width:65%;
    padding:3px;
    border:1px solid #ccc;
    border-radius:3px 3px 3px 3px;
}

/* = side-widget
-------------------------------------------------------------- */
#secondary .widget {
    display:block;
    margin:0 0 20px;
    padding:5px;
    border:1px solid #ccc;
    border-radius:6px;
}

#secondary .widget:after {
    display:block;
    clear:both;
    height:5px;
    content:'';
}

#secondary .widget .widget-title {
    font-size:16px;
    font-weight:700;
    line-height:1.4;
    display:block;
    margin:0 0 10px;
    padding:6px 6px 6px 10px;
    color:#666;
    border-radius:4px;
    background:#f9f9f9; /* old browsers */
    text-shadow:1px 1px 0 #fff;
}

#secondary .widget li {
    width:100%!important;
    margin:0 0 4px;
    padding:0 5px 0 0!important;
    list-style-position:inside;
    list-style-type:circle;
    max-width:199px;
}

#secondary .widget li:after {
    display:block;
    clear:both;
    height:2px;
    content:'';
}

.grid-content img {
    box-shadow:none;
}

#secondary .widget li ul li {
    margin:0;
    padding:0;
    border:none;
}

#main #secondary ul li ul {
    margin:0;
    padding:0 0 0 15px;
}

#main .widget-area ul {
    margin:0;
    padding:0;
}

#main #secondary.widget-area ul {
    margin:0 0 0 10px;
    padding:0;
}

#main #secondary.widget-area ul.grid-content {
    margin:0;
    padding:0;
}

#secondary .box1image {
    width:75px;
}

#main .widget-area a:link {
    color:#666;
}

#main .widget-area a:visited {
    color:#666;
}

#main .widget-area a:hover,a:active {
    color:#39f;
}

:first-child + html .widget_search #s {
    width:54%;
}

.widget ul {
    margin:0 0 10px;
}

#secondary .widget a {
    font-weight:400;
}


/* トップスライダー・閲覧履歴 */
#secondary .widget_fudou_single_history .grid-content li,
#secondary .widget_fudo_top_slider_m .grid-content li,
#secondary .widget_fudo_top_slider  .grid-content li{
	display: block;
	width: 192px !important;
	font-size: 10px;
	line-height: 1.2;
	float:left;
	list-style-type: none;
	padding: 8px !important;
}



/* 会員  */
#secondary .widget_fudo_kaiin {
    line-height:1.8;
}

#secondary .widget_fudo_kaiin form {
    margin:0 0 1em;
    padding:0;
}

#secondary .widget_fudo_kaiin ul {
    padding:0 8px;
}

#secondary .widget_fudo_kaiin input[type='text'],#secondary .widget_fudo_kaiin input[type='password'] {
    width:95%;
}

.widget_fudo_kaiin .kaiin_login p{
	margin:10px 0 5px;
}

/* 物件検索 */
#searchitem_m,#searchitem {
    line-height:1.2;
}

#searchitem_m div,#searchitem div {
    line-height:1.6;
    margin:4px 0 0;
}

#searchitem_m .jsearch_caution2,#searchitem .jsearch_caution2 {
    font-size:12px;
}

#searchitem_m input,#searchitem input {
    margin-top:8px;
}

.widget-container select,
.widget_fudo_b_k_bus_m select,.widget_fudo_b_k_bus select,.widget_fudo_b_k_m select,.widget_fudo_b_k select {
    width:100%;
    margin:2px 0;
    padding:2px;
    border:1px solid #ccc;
}

.memseki select,.kakaku_c select,.kakaku_b select {
    width:46%;
}

#chikunen,#memseki,#hofun,#kakaku_b,#kakaku_c,#chiiki,#roseneki,#caution1,#shubetsu,#setsubi_cb,#madori_cb,#busline,#terms,#kouku_cb,#choumei_cb {
    margin:0 0 5px;
}

#content .widget_fudo_b_k_m select,#content .widget_fudo_b_k select {
    width:auto;
}

.widget_search form {
    margin:0;
}

#primary .widget li.widget_search,#secondary .widget li.widget_search {
    list-style-type:none;
}

li.widget_search {
    list-style-type:none;
}

input[type='text'],input[type='password'],input[type='email'],input[type='url'],textarea {
    padding:3px;
}

.ie .menu-toggle,.ie input[type='submit'],.ie article.post-password-required input[type='submit'],.ie li.bypostauthor cite span {
    padding:3px;
}

.ie .menu-toggle,.ie input[type='submit'],.ie article.post-password-required input[type='submit'],.ie li.bypostauthor cite span {
    border:none;
}

/* map */
#map_menu select {
    width:100%;
}

#map_menu {
    border-radius:6px;
}

#searchmapitem {
    line-height:1.2;
}

/* = footer
-------------------------------------------------------------- */
#colophon .widget-title {
    font-weight:700;
    line-height:1.6;
    margin:0 0 6px;
    padding:4px 0 0;
/*	font-size: 13px;	*/
    color:#666;
    border-bottom:1px dotted #ddd;
}

#colophon .widget a {
/*	font-size: 12px;	*/
    font-weight:400;
    color:#666;
}

#colophon .widget ul {
    list-style-position:inside;
    list-style-type:circle;
}

/* = 見出し
-------------------------------------------------------------- */
#main #container #content h1 {
    font-size:18px;
    font-weight:400;
    line-height:1.6;
    margin:0 0 15px;
    padding:0 0 2px 10px;
    color:#666;
    border-bottom:1px dotted #ccc;
    border-left:3px solid #666;
}

#main #container #content h3 {
    font-size:18px;
    font-weight:400;
    margin: 0 0 15px;
    padding:7px 0 7px 10px;
    color:#666;
    border-bottom:1px dotted #ccc;
    border-left:3px solid #666;
}

/* = コメント欄
-------------------------------------------------------------- */
#comments {
    padding-top:60px;
}

#comments-title em {
    font-style:normal;
}

#comments li.comment {
    line-height:1.2;
}

#comments .comment-meta {
/*	font-size: 10px;	*/;
}

#respond {
    border-top-style:none;
}

#cancel-comment-reply-link {
    margin-left:2em;
}

/* = Contact Form 7 checkbox hook
-------------------------------------------------------------- */
#list_simplepage2 .wpcf7 {
    line-height:1.8;
}

#list_simplepage2 .wpcf7-list-item label {
    display:block;
    float:left;
    margin-right:10px;
    margin-left:1em;
}

#list_simplepage2 form p:after {
    display:block;
    clear:both;
    content:'';
}

/* = 印刷用CSS Twenty Eleven +α
-------------------------------------------------------------- */
@media print {
	* {
	    font-family:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','ＭＳ Ｐ明朝','MS PMincho',serif;
	}

	body,#wrapper,#list_simplepage2,.list_simple_box {
	    margin:0!important;
	    padding:0!important;
	}

	head + body {
	    min-width:80%!important;
	    max-width:100%!important;
	    margin:0 auto!important;
	}

	#site-title a {
	    float:left!important
	/*	font-size: 14pt !important;	*/;
	}

	#site-description {
	    font-size:8pt!important;
	}

	#container,.list_simple_box {
	    width:100%!important;
	}

	h1,h2,h3 {
	    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,sans-serif;
	    font-size:13pt!important;
	    border:none;
	}

	/* フォーム部分 */
	#list_simplepage2 .wpcf7 {
	    display:none!important;
	}

	/* 地図 */
	#map_canvas {
	    width:514px!important;
	    height:340px!important;
	}
}

@page {
    margin:1cm!important;
}

/* = TOP fudo_toukou_top-XX
-------------------------------------------------------------- */
#top_fbox #content ul#toukou_top {
    clear:both;
    margin:0 0 20px;
    padding:10px;
    border:1px solid #dfdfdf;
    border-radius:4px;
}

#top_fbox #content ul.toukou_top_post_excerpt {
    margin:0 0 10px;
    padding:5px 0 0 10px;
}

#top_fbox #content .toukou_top_post_title {
    line-height:1.6;
}

#top_fbox #content #toukou_top li {
    line-height:1.4;
    display:block;
    list-style:none;
}

#top_fbox #content #toukou_top img {
    float:left;
    width:75px;
    margin:0 10px 0 0;
    padding:2px
/*	height:75px; */;
}

/* = primary and secondary fudo_toukou_top-XX
-------------------------------------------------------------- */
#primary ul#toukou_top,#secondary ul#toukou_top {
    clear:both;
    margin:0;
    padding:0;
}

#primary ul.toukou_top_post_excerpt,#secondary ul.toukou_top_post_excerpt {
    margin:0!important;
    padding:5px 0 0 10px;
}

#primary #toukou_top a,#secondary #toukou_top a {
    color:#333;
}

#primary .toukou_top_post_title,#secondary .toukou_top_post_title {
    font-weight:700;
    line-height:1.4;
    color:#333;
}

#primary #toukou_top li,#secondary #toukou_top li {
    line-height:1.4;
    display:block;
    list-style:none;
}

#primary #toukou_top img,#secondary #toukou_top img {
    float:left;
    width:75px;
    height:75px;
    padding:0 5px 0 0;
}

/* = toukou
-------------------------------------------------------------- */
.entry-content {
    margin:0;
}

.entry-content a {
    color:#333;
}

.entry-meta {
    text-align:right
/*	font-size: 10px;	*/;
}

/* = widget_twentyeleven_ephemera
-------------------------------------------------------------- */
.widget_twentyeleven_ephemera ol {
    margin:0;
    padding:0 0 0 20px;
    list-style-type:circle;
}

/* = 物件リストソート部
-------------------------------------------------------------- */
.nav-previous {
/*	font-size: 12px;	*/
    padding:10px 0 10px 5px;
}

/* =  ページリスト
-------------------------------------------------------------- */
.nav-next {
    width:48%;
/*	font-size: 12px;	*/
    padding:10px 0 10px 5px;
}

.nav-next a {
    padding:5px;
    border:1px solid #ccc;
}

/* = NEW/UP mark
-------------------------------------------------------------- */
/* 物件リスト・詳細 */
.entry-title .new_mark {
    font-family:Verdana,Geneva,sans-serif;
/*	font-size: 12px;	*/
    font-weight:700;
    display:inline;
    height:20px;
    padding:0 10px;
    text-align:center;
    vertical-align:middle;
    text-transform:uppercase;
    color:#c00;
    border-radius:4px;
    text-shadow:1px 1px 0 #fff;
}

/* トップ */
#top_fbox #content .grid-content li {
    position:relative;
}

#top_fbox .new_mark {
    font-family:Verdana,Geneva,sans-serif;
    font-size:10px;
    font-weight:700;
    position:absolute;
    top:12px;
    right:10px;
    display:block;
    width:26px;
    padding:2px 5px;
    text-align:center;
    text-transform:uppercase;
    color:#fff;
    border-radius:4px;
    background:#900;
/* Old browsers */
    background:-moz-linear-gradient(top,#d20100 0%,#900 100%);
/* FF3.6+ */
    background:-webkit-linear-gradient(top,#d20100 0%,#900 100%);
/* Chrome10+,Safari5.1+ */
    text-shadow:1px 1px 0 #900;
}

/* 関連物件 */
#syousai_box ul.syousai-content li {
    position:relative;
}

#syousai_box .new_mark {
    font-family:Verdana,Geneva,sans-serif;
    font-size:9px;
    font-weight:700;
    position:absolute;
    top:6px;
    right:6px;
    display:block;
    width:26px;
    padding:2px 5px;
    text-align:center;
    text-transform:uppercase;
    color:#fff;
    border-radius:4px;
    background:#900;
/* Old browsers */
    background:-moz-linear-gradient(top,#d20100 0%,#900 100%);
/* FF3.6+ */
    background:-webkit-linear-gradient(top,#d20100 0%,#900 100%);
/* Chrome10+,Safari5.1+ */
    text-shadow:1px 1px 0 #900;
}

.page-template-showcase-php .new_mark,footer .new_mark,#footer .new_mark,#tertiary .new_mark,#primary .new_mark,#secondary .new_mark {
    width:auto;
}

/* 条件検索(固定ページ) */
#container .jsearch .setsubi,#container .jsearch .menseki,#container .jsearch .madori,#container .jsearch .kakaku,#container .jsearch .chikunen,#container .jsearch .shiku,#container .jsearch .eki,#container .jsearch .shubetsu {
    padding:0 0 0 10px;
}

