@charset  "utf-8";
/* = 
 * Twenty Sixteen
 * widget_fudo Style
 * corners2016.css サイトパーツの装飾
 * @package WordPress4.5
 * Version: 1.7.4
 */
/* = widget 
-------------------------------------------------------------- */
.widget:after {
	display: block;
	clear: both;
	height: 0;
	content: '';
}

/* = primary
-------------------------------------------------------------- */
#primary .widget h3 {
	font-size: 1.5rem;
	line-height: 1.225;
	margin-bottom: 1.05em;
}

/* = トップページ 物件表示部分  .grid-content
---------------------------------------------------------------------- */
ul.grid-content {
	margin: 0;
}

.grid-content li:after {
	display: block;
	clear: both;
	height: 20px;
	content: '';
}

/* トップ物件 表示 */
.grid-content li {
	display: block;
	float: left;
	margin: 0 20px 20px 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
}

/* トップ物件 画像サイズ */
.grid-content li .box1image {
	display: block;
	float: left;
	width: 100px;
	/* Minimum */
	height: auto;
	margin: 0 5px 0 0;
}

.top_price {
	font-weight: 700;
	color: #e30;
}

.top_madori {
	font-weight: 700;
}

.top_kaiin{
	display: block;
}

#content-bottom-widgets .grid-content li,#secondary .grid-content li {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

/* トップ物件 画像サイズ */
#content-bottom-widgets .grid-content li .box1image,#secondary .grid-content li .box1image {
	float: left;
	max-width: 100px;
}

/* = トップスライダー widget_fudo_top_slider
---------------------------------------------------------------------- */
/* 打ち消し */
.carousel_inner {
	padding: 0 !important;
	line-height: 1.5;
}

/* スライダー 表示サイズ */
#primary .carousel>div {
	width: 100%;
	max-width: 256px;
	/* Minimum */
	margin-left: 0;
	/* Minimum */
}

#primary .carousel_box {
	width: 100%;
	max-width: 256px;
/* Minimum */
}

#primary .grid-content .carousel_box li {
	margin: 0;
}

/* スライダー 表示サイズ サイトバー*/
#secondary .carousel>div {
	width: 100%;
	max-width: 256px;
	/* Minimum */
}

#secondary .carousel_box {
	width: 100%;
	max-width: 256px;
	/* Minimum */
}

#secondary .grid-content .carousel_box li {
	margin: 0;
}

/* スライダー 表示サイズ コンテント下 */
#primary #content-bottom-widgets .carousel>div {
	width: 100%;
	max-width: 256px;
	margin-left: 0;
	/* Minimum */
}

#primary #content-bottom-widgets .carousel_box {
	width: 100%;
	max-width: 256px;
	/* Minimum */
}

#syousai_box ul {
	margin-left: 0;
}

/* 物件詳細ページ関連物件 */
#syousai_box ul.syousai-content li {
	max-width: 256px;
}

#syousai_box ul.syousai-content li .box2image {
	width: 100px !important;
}

/* 物件詳細ページ関連物件 スライダー 表示サイズ */
#syousai_box .carousel>div {
	max-width: 256px;
	margin-left: 0;
}

#syousai_box .carousel_box {
	max-width: 256px;
}

/* 物件詳細ページ 閲覧履歴 */
.boxfudou_single_history .grid-content li {
	max-width: 256px;
}

.boxfudou_single_history .grid-content li .box1image {
	width: 100px !important;
}




/* = widget choumei
-------------------------------------------------------------- */
/*
ul.children1_choumei li ul li,
ul.children2_choumei li ul li{
	display: inline-block;
	list-style: outside none none;
	margin: 0 10px;
}
*/
/* = new_mark
-------------------------------------------------------------- */
.grid-content li {
	position: relative;
}

#syousai_box ul.syousai-content li {
	position: relative;
}

.up_mark,.new_mark {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 10px;
	font-weight: 700;
	position: absolute;
	top: 3px;
	left: 3px;
	display: block;
	width: auto !important;
	padding: 2px 5px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border-radius: 4px;
	background: #900;
	text-shadow: 1px 1px 0 #900;
}

/* 物件リスト・詳細 */
.entry-title .new_mark {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 1.6rem !important;
	font-weight: 700;
	position: static !important;
	display: inline;
	display: inline !important;
	padding: 0 10px !important;
	text-align: center;
	text-transform: uppercase;
	color: #c00 !important;
	background: none !important;
}

/* = 閲覧履歴 widget_fudou_single_history
---------------------------------------------------------------------- */
.cl_botton,.cl_botton2 {
	float: right;
	margin: -2px 2px 0;
}


#list_simplepage2 ul.cookie_fudou_jsearch{
	margin: 0 0 0 15px;
}



/* = 会員 widget widget_fudo_kaiin
---------------------------------------------------------------------- */
.widget_fudo_kaiin .kaiin_login input[type="submit"],
.widget_fudo_kaiin .kaiin_login #user_login,
.widget_fudo_kaiin .kaiin_login #password {
	margin: 5px 0;
}

.widget_fudo_kaiin .kaiin_login p{
	margin:10px 0 5px;
}



/* = 条件検索
-------------------------------------------------------------- */
.widget_fudo_b_k_bus input[type="submit"],.widget_fudo_b_k input[type="submit"] {
	padding: .84375em .875em .78125em;
}

.widget_fudo_b_k_bus input,.widget_fudo_b_k input {
	margin-top: 8px;
}

.widget-container select,.widget_fudo_b_k_bus_m select,.widget_fudo_b_k_bus select,.widget_fudo_b_k_m select,.widget_fudo_b_k select {
	width: 98%;
	margin: 2px 0;
	padding: 3px;
	border: 1px solid #ccc;
	color: #1f1f1f;
}

#chikunen,#memseki,#hofun,#kakaku_b,#kakaku_c,#chiiki,#roseneki,#caution1,#shubetsu,#setsubi_cb,#madori_cb,#busline,#category_cb,#kouku_cb,#choumei_cb {
/*	margin: 0 0 10px; */
}


#searchitem_m div,
#searchitem div{
	margin: 0 0 10px;
}



.widget_fudo_b_k_bus input[type='checkbox'],.widget_fudo_b_k_m input[type='checkbox'],.widget_fudo_b_k input[type='checkbox'] {
	margin: 0 2px 0 0;
}

.widget_fudo_b_k_bus label,.widget_fudo_b_k_m label,.widget_fudo_b_k label {
	margin: 0 5px 0 0;
}

.memseki select,.kakaku_c select,.kakaku_b select {
	width: 46.5%;
}

.widget_fudo_b_k_bus .jsearch_caution1,.widget_fudo_b_k_bus .jsearch_caution2,.widget_fudo_b_k_m .jsearch_caution1,.widget_fudo_b_k_m .jsearch_caution2,.widget_fudo_b_k .jsearch_caution1,.widget_fudo_b_k .jsearch_caution2 {
/*	font-size: 11.5px; */
}

.widget_fudo_b_k_bus .jsearch_caution2,.widget_fudo_b_k .jsearch_caution2 {
	margin: 10px 0;
}

.widget_fudo_b_k_bus .madori_cb label,.widget_fudo_b_k_bus .setsubi_cb label,.widget_fudo_b_k_m .madori_cb label,.widget_fudo_b_k_m .setsubi_cb label,.widget_fudo_b_k .madori_cb label,.widget_fudo_b_k .setsubi_cb label {
	padding: 0 8px 0 2px;
}

/* = 最近の投稿記事 widget_fudo_toukou_top
-------------------------------------------------------------- */
.widget_fudo_toukou_top ul {
	margin: 0;
}

.widget_fudo_toukou_top ul,.widget_fudo_toukou_top li {
	list-style: none;
}

.widget_fudo_toukou_top li > ul,.widget_fudo_toukou_top li > ol {
	margin: 0;
}

.widget_fudo_toukou_top li:after {
	display: block;
	clear: both;
	height: 20px;
	content: '';
}

.widget_fudo_toukou_top .toukou_top_post_title {
	font-weight: 700;
	font-size: 1rem;
}

.widget_fudo_toukou_top .toukou_top_post_thumbnail img {
	float: left;
	width: 100px;
	height: auto;
	padding: 0 10px 0 0;
}

/* = maching mail botton
-------------------------------------------------------------- */
.widget_fudo_kaiin #maching_mail a {
    background: #ce6166 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-weight: 700;
    margin: 20px 0;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 15em;
}
.widget_fudo_kaiin ul {
	margin: 0;
}

/* = widget_fudo_search
-------------------------------------------------------------- */
.widget_fudo_search input.field[type="text"] {
	width: calc(100% - 57px);
}

/* = SNS Icon
-------------------------------------------------------------- */
#snscomm a {
	box-shadow: 0 0 0 0 currentcolor;
}

/* = content margin 
-------------------------------------------------------------- */
#top_fbox,#toiawasesaki,#contact_form,.sharedaddy,body:not(.search-results) article:not(.type-page) .list_simple_box .entry-content {
	margin-left: 7.6923%;
	margin-right: 7.6923%;
}

.archive-fudo #primary #main #nav-above1,.archive-fudo #primary #main #list_simplepage {
	margin-left: 7.6923%;
	margin-right: 7.6923%;
}

/* 物件リストページ */
#list_simplepage .list_simple_box .list_picsam img {
	width: 124px;
}

#list_simplepage .list_simple_box .list_picsam {
	float: none;
	margin: 0;
}

/* = media screen 
-------------------------------------------------------------- */
/**
 * 14.1 - >= 500px (1カラム表示) 
 */
@media screen and (min-width: 31.250em) {
	/* 物件リストページ */
	#list_simplepage .list_simple_box .list_picsam img {
		width: 120px;
	}

	#list_simplepage .list_simple_box .list_picsam {
		max-width: 250px;
		float: left;
		margin: 0 20px 0 0;
	}
}

/**
 * 14.1 - >= 710px (1カラム表示) 
 */
@media screen and (min-width: 44.375em) {
	#primary #top_fbox {
	}

	body:not(.search-results) article:not(.type-page) .list_simple_box .entry-content {
	}

	/* トップ物件 表示サイズ */
	.grid-content li {
		max-width: 250px;
	}

	/* トップ物件 画像サイズ */
	.grid-content li .box1image {
		width: 100px;
	}

	/* トップスライダー 表示サイズ */
	#primary .carousel>div {
		max-width: 530px;
	/*	margin-left: 10px; */
	}

	#primary .carousel_box {
		max-width: 270px;
	}

	/* 物件詳細ページ関連物件 */
	#syousai_box ul.syousai-content li {
		max-width: 250px;
	}

	#syousai_box ul.syousai-content li .box2image {
		width: 100px !important;
	}

	/* 物件詳細ページ関連物件 スライダー 表示サイズ */
	#syousai_box .carousel>div {
		max-width: 540px;
		margin-left: 0;
	}

	#syousai_box .carousel_box {
		max-width: 270px;
	}

	/* 物件詳細ページ 閲覧履歴 */
	.boxfudou_single_history .grid-content li {
		max-width: 250px;
	}

	.boxfudou_single_history .grid-content li .box1image {
		width: 100px !important;
	}

	/* 物件リストページ */
	#list_simplepage .list_simple_box .list_picsam img {
		width: 120px;
	}

	#list_simplepage .list_simple_box .list_picsam {
		max-width: 250px;
		float: left;
		margin: 0 20px 0 0;
	}
}

/**
 * 14.2 - >= 783px (1カラム表示)
 */
@media screen and (min-width: 48.9375em) {
	#primary #top_fbox {
	}

	body:not(.search-results) article:not(.type-page) .list_simple_box .entry-content {
	}

	/* トップ物件 表示サイズ */
	.grid-content li {
		max-width: 280px;
	}

	/* トップ物件 画像サイズ */
	.grid-content li .box1image {
		width: 100px;
	}

	/* トップスライダー 表示サイズ */
	#primary .carousel>div {
		max-width: 600px;
	/*	margin-left: 10px; */
	}

	#primary .carousel_box {
		max-width: 300px;
	}

	/* 物件詳細ページ関連物件 */
	#syousai_box ul.syousai-content li {
		max-width: 280px;
	}

	#syousai_box ul.syousai-content li .box2image {
		width: 100px !important;
	}

	/* 物件詳細ページ関連物件 スライダー 表示サイズ */
	#syousai_box .carousel>div {
		max-width: 600px;
		margin-left: 0;
	}

	#syousai_box .carousel_box {
		max-width: 300px;
	}

	/* 物件詳細ページ 閲覧履歴 */
	.boxfudou_single_history .grid-content li {
		max-width: 250px;
	}

	.boxfudou_single_history .grid-content li .box1image {
		width: 100px !important;
	}

	/* 物件リストページ */
	#list_simplepage .list_simple_box .list_picsam img {
		width: 120px;
	}

	#list_simplepage .list_simple_box .list_picsam {
		max-width: 250px;
		float: left;
		margin: 0 20px 0 0;
	}
}

/**
 * 14.3 - >= 910px (2カラム表示)
 */
@media screen and (min-width: 56.875em) {
	/* = content margin */
	#top_fbox,#toiawasesaki,#contact_form,.sharedaddy,body:not(.search-results) article:not(.type-page) .list_simple_box .entry-content {
		margin-left: 0;
		margin-right: 0;
	}

	.archive-fudo #primary #main #nav-above1,.archive-fudo #primary #main #list_simplepage {
		margin-left: 0;
		margin-right: 0;
	}

	#primary #top_fbox {
		width: 570px;
	}

	body:not(.search-results) article:not(.type-page) .list_simple_box .entry-content {
		width: 100%;
	}

	#secondary {
	/*	width: 200px; */
	}

	/* トップ物件 表示サイズ */
	.grid-content li {
		max-width: 260px;
	}

	/* トップ物件 画像サイズ */
	.grid-content li .box1image {
		width: 100px;
	}

	/* トップスライダー 表示サイズ */
	#primary .carousel>div {
		max-width: 560px;
	/*	margin-left: 10px; */
	}

	#primary .carousel_box {
		max-width: 280px;
	}

	/* サイトバースライダー 表示サイズ */
	#secondary .carousel>div {
		max-width: 193px;
	}

	#secondary .carousel_box {
		max-width: 193px;
	}

	/* コンテント下スライダー 表示サイズ  */
	#primary #content-bottom-widgets .carousel>div {
		max-width: 248px;
	}

	#primary #content-bottom-widgets .carousel_box {
		max-width: 248px;
	}

	/* 物件詳細ページ関連物件 */
	#syousai_box ul.syousai-content li {
		max-width: 250px;
	}

	#syousai_box ul.syousai-content li .box2image {
		width: 100px !important;
	}

	/* 物件詳細ページ関連物件 スライダー 表示サイズ */
	#syousai_box .carousel>div {
		max-width: 540px;
		margin-left: 0;
	}

	#syousai_box .carousel_box {
		max-width: 270px;
	}

	/* 物件詳細ページ 閲覧履歴 */
	.boxfudou_single_history .grid-content li {
		max-width: 250px;
	}

	.boxfudou_single_history .grid-content li .box1image {
		width: 100px !important;
	}

	/* 物件リストページ */
	#list_simplepage .list_simple_box .list_picsam img {
		width: 120px;
	}

	#list_simplepage .list_simple_box .list_picsam {
		max-width: 250px;
		float: left;
		margin: 0 20px 0 0;
	}

	#primary .widget {
		font-size: 14.5px;
		font-size: .95rem;
	}
}

/**
 * 14.4 - >= 985px (2カラム表示)
 */
@media screen and (min-width: 61.5625em) {
	#primary #top_fbox {
		width: 630px;
	}

	body:not(.search-results) article:not(.type-page) .list_simple_box .entry-content {
		width: 100%;
	}

	#secondary {
	/*	width: 230px; */
	}

	/* トップ物件 表示サイズ */
	.grid-content li {
		max-width: 290px;
	}

	/* トップ物件 画像サイズ */
	.grid-content li .box1image {
		width: 150px;
	}

	/* トップスライダー 表示サイズ */
	#primary .carousel>div {
		max-width: 620px;
	/*	margin-left: 10px; */
	}

	#primary .carousel_box {
		max-width: 310px;
	}

	/* サイトバースライダー 表示サイズ */
	#secondary .carousel>div {
		max-width: 210px;
	}

	#secondary .carousel_box {
		max-width: 210px;
	}

	/* コンテント下スライダー 表示サイズ  */
	#primary #content-bottom-widgets .carousel>div {
		max-width: 274px;
	}

	#primary #content-bottom-widgets .carousel_box {
		max-width: 274px;
	}

	/* 物件詳細ページ関連物件 */
	#syousai_box ul.syousai-content li {
		max-width: 270px;
	}

	#syousai_box ul.syousai-content li .box2image {
		width: 100px !important;
	}

	/* 物件詳細ページ関連物件 スライダー 表示サイズ */
	#syousai_box .carousel>div {
		max-width: 590px;
		margin-left: 0;
	}

	#syousai_box .carousel_box {
		max-width: 290px;
	}

	/* 物件詳細ページ 閲覧履歴 */
	.boxfudou_single_history .grid-content li {
		max-width: 270px;
	}

	.boxfudou_single_history .grid-content li .box1image {
		width: 100px !important;
	}

	/* 物件リストページ */
	#list_simplepage .list_simple_box .list_picsam img {
		width: 150px;
	}

	#list_simplepage .list_simple_box .list_picsam {
		max-width: 310px;
		float: left;
		margin: 0 20px 0 0;
	}
}

/**
 * 14.5 - >= 1200px (2カラム表示)
 */
@media screen and (min-width: 75em) {
	#primary #top_fbox {
		width: 760px;
	}

	body:not(.search-results) article:not(.type-page) .list_simple_box .entry-content {
		width: 100%;
	}

	#secondary {
	/*	width: 280px; */
	}

	/* トップ物件 表示サイズ */
	.grid-content li {
		max-width: 360px;
	}

	/* トップスライダー 表示サイズ */
	#primary .carousel>div {
		max-width: 750px;
	/*	margin-left: 10px; */
	}

	#primary .carousel_box {
		max-width: 380px;
	}

	/* サイトバースライダー 表示サイズ */
	#secondary .carousel>div {
		max-width: 259px;
	}

	#secondary .carousel_box {
		max-width: 259px;
	}

	/* コンテント下スライダー 表示サイズ  */
	#primary #content-bottom-widgets .carousel>div {
		max-width: 337px;
	}

	#primary #content-bottom-widgets .carousel_box {
		max-width: 337px;
	}

	/* 物件詳細ページ関連物件 */
	#syousai_box ul.syousai-content li {
		max-width: 340px;
	}

	#syousai_box ul.syousai-content li .box2image {
		width: 150px !important;
	}

	/* 物件詳細ページ関連物件 スライダー 表示サイズ */
	#syousai_box .carousel>div {
		max-width: 730px;
		margin-left: 0;
	}

	#syousai_box .carousel_box {
		max-width: 360px;
	}

	/* 物件詳細ページ 閲覧履歴 */
	.boxfudou_single_history .grid-content li {
		max-width: 340px;
	}

	.boxfudou_single_history .grid-content li .box1image {
		width: 150px !important;
	}

	/* 物件リストページ */
	#list_simplepage .list_simple_box .list_picsam img {
		width: 150px;
	}

	#list_simplepage .list_simple_box .list_picsam {
		max-width: 310px;
		float: left;
		margin: 0 20px 0 0;
	}
}

/**
 * 14.6 - >= 1280px (2カラム表示)
 */
@media screen and (min-width: 80em) {
	#primary #top_fbox {
		width: 820px;
	}

	body:not(.search-results) article:not(.type-page) .list_simple_box .entry-content {
		width: 100%;
	}

	#secondary {
	/*	width: 300px; */
	}

	/* トップ物件 表示サイズ */
	.grid-content li {
		max-width: 390px;
	}

	/* トップスライダー 表示サイズ */
	#primary .carousel>div {
		max-width: 830px;
	/*	margin-left: 10px; */
	}

	#primary .carousel_box {
		max-width: 420px;
	}

	/* サイトバースライダー 表示サイズ */
	#secondary .carousel>div {
		max-width: 278px;
	}

	#secondary .carousel_box {
		max-width: 278px;
	}

	/* コンテント下スライダー 表示サイズ  */
	#primary #content-bottom-widgets .carousel>div {
		max-width: 360px;
	}

	#primary #content-bottom-widgets .carousel_box {
		max-width: 360px;
	}

	/* 物件詳細ページ関連物件 */
	#syousai_box ul.syousai-content li {
		max-width: 360px;
	}

	#syousai_box ul.syousai-content li .box2image {
		width: 150px !important;
	}

	/* 物件詳細ページ関連物件 スライダー 表示サイズ */
	#syousai_box .carousel>div {
		max-width: 760px;
		margin-left: 0;
	}

	#syousai_box .carousel_box {
		max-width: 380px;
	}

	/* 物件詳細ページ 閲覧履歴 */
	.boxfudou_single_history .grid-content li {
		max-width: 360px;
	}

	.boxfudou_single_history .grid-content li .box1image {
		width: 150px !important;
	}

	/* 物件リストページ */
	#list_simplepage .list_simple_box .list_picsam img {
		width: 150px;
	}

	#list_simplepage .list_simple_box .list_picsam {
		max-width: 310px;
		float: left;
		margin: 0 20px 0 0;
	}
}