@charset "utf-8";
/* = 
 * Twenty Fourteen
 * widget_fudo Style
 * style2014.css サイト基本の装飾
 * @package WordPress4.8
 * Version: 1.8.2
-------------------------------------------------------------- */

/* 基本サイズ */
/* トップ */
#content #top_fbox {
/*	margin: -24px 0 0 30px; */
    max-width:640px;
}

/* 基本タイトル */
h1,h2,h3,h4,h5,h6 {
    font-weight:400!important;
}

.widget-title {
    font-size:16px;
    font-weight:400;
}

/* トップウィジェットタイトル */
#top_fbox h3 {
    font-size:33px;
    font-weight:400;
}

/* サイトカラー  変更したい場合は各色を設定してください。
---------------------------------------------------------------------- */
/* 背景色 */
/*
	.site:before,
	.site-header,
	.primary-navigation,
	.grid .featured-content .entry-header,
	.featured-content .entry-header,
	#secondary,
	.site-footer,
	#supplementary,
	#nendebcopy
	{
		background: #ff0000 !important;
	}

	.grid .featured-content .entry-header{
		border-color: transparent !important;
	}
*/
/* 文字色 */
/*
	.site-title a,
	.primary-navigation a,
	.site-description,
	.featured-content a,
	#secondary,
	.secondary-navigation a,
	.widget-area .widget-title,
	.widget-area .widget-title a,
	.widget-area a,
	.site-footer, 
	.site-footer a,
	.site-info, 
	.site-info a,
	#nendebcopy a
	{
		color: #000 !important;
	}
*/
/* ボックス色 */
/*
	.widget-area input[type="text"], 
	.widget-area input[type="email"], 
	.widget-area input[type="url"], 
	.widget-area input[type="search"], 
	.widget-area input[type="password"], 
	.widget-area textarea
	{
		background: #fff !important;
		border: 1px solid #ccc;
		color: #000;
	}
*/
/* 3= カラー修正---------------------------------------------------------------------- */
#primary .widget a,#primary .entry-meta a {
    color:#2b2b2b;
}

#primary .widget a {
    color:#24890d;
}

/* 3= 汎用css
---------------------------------------------------------------------- */
.dpoint1 {
    font-size:150%;
    font-weight:400;
    line-height:1.2;
    float:left;
    padding:4px;
    color:#c00;
}

.dpoint2 {
    font-size:130%;
    font-weight:400;
    float:left;
    padding:4px;
    color:#000;
}

.dpoint3 {
    font-size:120%;
    font-weight:700;
    display:inline;
    color:#000;
}

.dpoint4 {
    font-size:20px;
    font-weight:700;
    display:inline;
    color:#000;
}

.clearLeft {
    clear:left;
}

.clearRight {
    clear:right;
}

/* 12= 物件リストページ #list_simplepage
---------------------------------------------------------------------- */
.archive-fudo a img {
    display:inline;
}


h2.entry-title span img {
    float: right;
    margin: 7px;
}



#list_simplepage .list_simple_box:after {
    display:block;
    clear:both;
    height:48px;
    content:'';
}

.list_detail dl.list_price_others {
    margin:-24px 0 0;
}

#list_simplepage table,#list_simplepage th,#list_simplepage td {
    border-width:0;
}

.list_price_others table td,
.list_address table td {
    border-bottom:1px solid #ccc!important;
}
.list_price_others table td{
	width: 25%;
}

.list_detail table td {
    padding:2px;
}

#list_simplepage .list_simple_box .list_detail dt {
    font-weight:400;
    display:inline;
    white-space:nowrap;
}

#list_simplepage .list_simple_box .list_detail dd {
    display:inline;
    max-width:320px;
/*	margin: 0 0 0 .3em; */
    padding:0;
    color:#333;
}

/* 左 */
#list_simplepage .list_simple_box .list_picsam {
    float:left;
    max-width:200px;
}

#list_simplepage .list_simple_box .list_picsam img {
    width:90px;
/*height: 90px;	*/
    margin:1px 1px 5px;
    padding:2px;
    border:1px solid #333;
}

#list_simplepage .list_picsam .list_picsam_img:before {
    display:block;
    clear:both;
    height:0;
    content:'';
}

#list_simplepage .list_simple_box .list_picsam_img {
    display:block;
    width:196px;
}

/* 右 */
#list_simplepage .list_simple_box .list_detail {
    font-size:87.5%;
    line-height:1.8;
    overflow:hidden;
    max-width:100%;
/*width: 63%; */
/*float: left; */
    margin:0 3px 0 0;
    padding:0 0 0 10px;
}

/* 種別カラー */
#list_simplepage .list_price {
    background-color:#ebf6fc;
}

#list_simplepage .list_price.rent {
    background-color:#fdedf0;
}

/* 抜粋 */
#list_simplepage .entry-excerpt {
    padding-bottom:10px;
    padding-left:5px;
}

/* 戻るリンク */
.archive-fudo .pageback {
    float:right;
}

/* 物件の詳細を見るボタン */
#list_simplepage .list_simple_box .list_details_button {
    font-size:87.5%;
    font-weight:700;
    display:block;
    clear:both;
    max-width:176px;
    margin:0 0 3px;
    padding:10px;
    text-align:center;
    color:#fff;
    border:medium none;
    background-color:#24890d;
}

#list_simplepage .list_simple_box a > .list_details_button:active,#list_simplepage .list_simple_box a > .list_details_button:hover {
    text-decoration:none!important;
    background-color:#41a62a!important;
}

/* 13= 物件詳細ページ #list_simplepage2 
---------------------------------------------------------------------- */
#list_simplepage2 {
    max-width:630px;
    margin:-24px 0 0 30px;
    padding:0;
}

#list_simplepage2 .widget {
    max-width:none;
}

#list_simplepage2 a img {
    display:inline;
}

#list_simplepage2 .list_simple_box .list_detail {
    display:block;
    float:left;
/*	max-width: 620px;*/
    width:100%;
    margin:0;
}

#list_simplepage2 .entry-excerpt {
    padding:0 0 10px;
}

/* 物件情報 */
#list_simplepage2 .list_simple_box .list_detail dt {
    font-weight:400;
    display:inline;
    color:#333;
}

#list_simplepage2 .list_simple_box .list_detail dd {
    display:inline;
    margin:0 .6em 0 .4em;
    padding:0;
    color:#333;
}

#list_simplepage2 .list_simple_box:after {
    display:block;
    clear:both;
    height:0;
    content:'';
}

#list_simplepage2 .list_detail table {
    margin:0;
    padding:0;
    border:none;
}

/* 見出し */
/* 画像 */
#list_simplepage2 #second_img,#list_simplepage2 .list_picsam {
    display:block;
    margin:0 0 48px;
}

#list_simplepage2 .list_picsam img {
    width:150px;
    margin:0 0 4px;
    border:1px solid #000;
}

#list_simplepage2 #second_img img {
    width:120px;
    height:auto;
    margin:0 4px 4px 0;
    border:1px solid #000;
}

#list_simplepage2 td {
    border-width:0;
}

/* 賃貸/売買 背景色 */
#list_simplepage2 .list_price {
    line-height:2;
    margin:0;
    padding:0 0 4px 1em;
/*	background:	-moz-linear-gradient(left, #ebf6fc, #fff);
		background:	-webkit-gradient(linear, left top, right top, from(#ebf6fc), to(#fff));	*/
    background-color:#ebf6fc;
}

#list_simplepage2 .list_price.rent {
/*	background:	-moz-linear-gradient(left, #fdedf0, #fff);
		background:	-webkit-gradient(linear, left top, right top, from(#fdedf0), to(#fff));	*/
    background-color:#fdedf0;
}

#list_simplepage2 .list_detail table {
    font-size:86%;
}

#list_simplepage2 .list_simple_box .list_detail #list_add th {
    line-height:1.4;
    padding:5px;
    text-align:left;
    white-space:nowrap;
    border-bottom:1px solid #eee;
}

#list_simplepage2 .list_simple_box .list_detail #list_add td {
    line-height:1.4;
    margin:0;
    padding:.5em;
    white-space:normal;
    border-bottom:1px solid #eee;
}

#list_simplepage2 .list_simple_box .list_detail #list_other th {
    line-height:1.4;
    width:21%;
    padding:5px;
    text-align:left;
    border-right:1px dotted #ccc;
    border-bottom:1px solid #eee;
}

#main #content #list_simplepage2 .list_simple_box .list_detail #list_other th.th2 {
    border-left:1px dotted #ccc;
}

#list_simplepage2 .list_simple_box .list_detail #list_other td {
    line-height:1.2;
    width:30%;
    padding:5px;
    white-space:normal;
    border-bottom:1px solid #eee;
}

#toiawasesaki {
    display:block;
    margin:0 0 48px;
}

#contact_form {
    display:block;
    margin:0 0 48px;
}

/* 担当者コメント entry-content */
.site-content #list_simplepage2 .entry-content {
    font-size:86%;
    max-width:640px!important;
    margin:0 0 48px!important;
    padding:14px 0 0!important;
}

/* 表下部・現況優先但書 */
.list_detail_bottom_info {
    font-size:86%;
    margin:-28px -10px 48px 0;
    padding:0;
    text-align:right;
}

/* Responsive images Fluid images for posts hack*/
.entry-content #map_canvas img {
    max-width:none;
    border-radius:0;
    box-shadow:none;
}

/* 関連物件表示(物件詳細ページ)スライダー */
#primary #syousai_box .carousel .carousel_inner {
    width:97%!important;
    max-width:589px;
}

.widget_fudo_top_slider_syousai {
    margin:0 0 48px!important;
}

/* 閲覧履歴 */
#primary .syousai_widgets ul {
    padding:5px;
}

/* Contact Form 7 */
.wpcf7 input[type='text'],.wpcf7 input[type='email'],.wpcf7 input[type='url'],.wpcf7 input[type='search'],.wpcf7 input[type='password'] {
    width:100%;
}

/* for wp3.6 youtube */
#main #content .list_detail .entry-content p iframe {
    max-width:630px;
}

/* places */
#main #content .list_detail .places {
    width:100%;
    max-width:630px;
    margin:-48px 0 58px;
    padding:5px 0;
    border-right:1px solid #979797;
    border-bottom:1px solid #979797;
    border-left:1px solid #979797;
}

#main #content .list_detail .places:after {
    display:block;
    clear:both;
    height:0;
    content:'';
}

#main #content .list_detail .places label {
    font-size:85%;
    display:block;
    float:left;
    margin:0 5px;
}

/* map */
/*
	#content #map_canvas img {margin: 0;height: auto;max-width: none;width: auto;}
	#content #map_canvas .msg {margin: 5px;font-size:12px;}
*/
#content #map_canvas {
    z-index:1;
    max-width:640px;
    height:340px;
/*	margin: 20px 0 ; */
    margin:0 0 48px;
    border:1px solid #979797;
    background-color:#e5e3df;
}

/* ふきだし内 */
#map_canvas .gm-style-iw {
    width:auto!important;
    height:auto!important;
}

#map_canvas table {
    overflow:hidden;
    margin:8px;
    padding:0;
    border-style:none;
}

#map_canvas table {
    width:auto;
}

#map_canvas table {
    border-spacing:2px;
    border-collapse:separate;
}

#map_canvas td {
    line-height:1.4;
    margin:0;
    padding:0;
    vertical-align:middle;
    border-width:0!important;
    border-top:medium none!important;
}

.gmapballoon {
    font-size:10px;
    color:#3f3f3f;
    border-style:none;
}

.gmapballoon img {
/*    width: 100px; */
    height:auto;
    padding:2px;
    border:1px solid #ccc;
}

.gmapballoon img.gmap_img {
    margin:0 5px 0 0;
}

.gmaptitle {
    font-size:12px;
    font-weight:700;
}

.gmapkakaku {
    font-family:Arial,Helvetica,sans-serif;
    font-size:20px;
    font-weight:700;
    color:#f30;
    border-bottom:1px dotted #ccc;
}

.gmapmadori {
    font-family:Arial,Helvetica,sans-serif;
    font-size:20px;
    font-weight:700;
    color:#333;
    border-bottom:1px dotted #ccc;
}

/* 14= 物件詳細ページ関連物件  #syousai_box : 関連物件部分 閲覧履歴
---------------------------------------------------------------------- */
#list_simplepage2 .widget_fudou_single_history ul,
#syousai_box ul {
    padding-left:5px;
}

#syousai_box ul:after {
    display:block;
    clear:both;
    height:0;
    content:'';
}

#list_simplepage2 .widget_fudou_single_history li,
#list_simplepage2 #syousai_box ul.syousai-content li {
    font-size:12px;
    line-height:1;
    display:block;
    float:left;
    width:80px !important;
    margin:0 5px 4px 0 !important;
    padding:6px !important;
    list-style-type:none;
    border:1px solid #ccc;
    background:#fff;
    background:-moz-linear-gradient(top,#fff 70%,#f7f7f7 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(70%,#fff),color-stop(100%,#f7f7f7));
}

#list_simplepage2 .widget_fudou_single_history li span,
#syousai_box ul.syousai-content li span {
    font-size:10px;
    margin-top:5px;
}

#list_simplepage2 .widget_fudou_single_history li img,
#syousai_box ul.syousai-content li img {
    padding-bottom:5px;
}

#list_simplepage2 .widget_fudou_single_history li .box1image,
#syousai_box ul.syousai-content li .box2image {
    width:80px;
    height:auto;
}

#syousai_box .carousel_inner_fudo_top_slider_syousai_2 {
    max-width:490px;
}

/* 17= 物件検索 固定ページ用  .jsearch 新
---------------------------------------------------------------------- */

#page_jsearch_page{
	margin: 20px 0;
}

.jsearch .entry-header,.jsearch .entry-content {
    max-width:none;
    margin-right:0;
}

.jsearch li {
    display:block;
    float:left;
    margin:0 1em 0 0;
    padding:0;
    list-style-type:none;
}

.jsearch .eki ul,.jsearch .shiku ul {
    padding:0 0 25px 10px;
}

table.form_jsearch {
    width:100%;
    margin-bottom:10px;
    border-collapse:collapse;
    border:1px solid #e5e5e5;
}

table.form_jsearch th {
    font-weight:400;
    width:18%;
    padding:10px!important;
    text-align:left;
    vertical-align:top;
    border-bottom:1px solid #e5e5e5;
    background:#f6f6f6;
}

table.form_jsearch td {
    width:81%;
    margin:0;
    padding:10px!important;
    border-bottom:1px solid #e5e5e5;
    border-left:1px solid #e5e5e5;
    line-height: 1.8;


}
table.form_jsearch td ul{
	list-style:outside none none;
}

table.form_jsearch ul li {
    display: inline-block;
    margin: 0 10px 0 0;
}


table.form_jsearch h5 {
    font-size:100%;
    margin:0;
}

table.form_jsearch ul {
    margin: 5px 0 !important;
}

table.form_jsearch input[type='checkbox'] {
    margin:0 5px 0 0;
}

/*------------------------------------------------------------------
	  ページ条件検索 バス
----------------------------------------------------------------- */
.jsearch table.form_jsearch td.bus ul {
    padding:0 0 0 10px!important;
}

.jsearch table.form_jsearch td.bus ul li ul li.buscorse,.jsearch table.form_jsearch td.bus ul li.buscorp {
    display:block;
    clear:both;
    margin:5px 0;
}

.jsearch table.form_jsearch td.bus ul li ul li.buscorse ul li.busstop {
    float:left;
    margin:0 0 0 10px;
}





/*  = 会員登録 会員ログイン page
---------------------------------------------------------------------- */
/* テーブル */
table.form_register {
	font-size: 14.5px;
	font-size: .95rem;
	line-height: 18px;
	width: 100%;
}

table.form_register input[type="text"],table.form_register input[type="email"],table.form_register input[type="url"],table.form_register input[type="password"],table.form_register input[type="search"],table.form_register input[type="tel"],table.form_register input[type="number"],table.form_register textarea {
	padding: 5px;
	width: 70%;
}

table.form_user_register input {
	margin: 0 5px 5px;
}

table.form_user_register th,table.form_register th {
	font-weight: 400;
	width: 25%;
	padding: 15px !important;
	text-align: left;
	background: #f6f6f6;
}

table.form_user_register td,table.form_register td {
	width: 74%;
	margin: 0;
	padding: 15px !important;
	font-size: 12px;
	line-height: 1.8;
}

table.form_user_register h4,table.form_user_register h5,table.form_register h5 {
	font-weight: 400;
	margin: 0 !important;
	font-size: 12px;
}

table.form_register ul {
	margin: 0 !important;
}

table.form_register select {
	color: #1f1f1f;
}

table.form_user_register p {
	padding: 0 10px 10px;
}

table.form_user_register span{
	display: inline-block;
}

table.form_user_register ul.kouku,
table.form_user_register ul.eki,
table.form_user_register ul.chou {
	margin: 0 0 1.75em 1.25em !important;
	list-style: none;
}

table.form_user_register ul.kouku li,
table.form_user_register ul.eki li,
table.form_user_register ul.chou li {
	display: inline-block;
}

table.form_user_register input[type="checkbox"]{
	margin: 0 2px 0 10px;
}


#kaiin_kiyaku{
	margin: 0 0 20px 0;
}

.page_login li {
	display: inline-block;
}

/* 強度インジケータ */
#pass-strength-result {
	display: none;
	width: auto;
	margin: 5px 0;
	padding: 5px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd !important;
	background-color: #eee;
}

#pass-strength-result.bad {
	border-color: #ff853c !important;
	background-color: #ffb78c;
}

#pass-strength-result.good {
	border-color: #fc0 !important;
	background-color: #ffec8b;
}

#pass-strength-result.short {
	border-color: #f04040 !important;
	background-color: #ffa0a0;
}

#pass-strength-result.strong {
	border-color: #8dff1c !important;
	background-color: #c3ff88;
}

/* ボタン */
.page_login #maching_mail a {
	font-size: 14px;
	font-weight: 700;
	display: block;
	width: 150px;
	margin: 5px 0;
	padding: 5px 8px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #ff9b9d;
	text-shadow: 1px 1px 1px #cc5559;
}

.page_login #maching_mail a:hover {
	text-decoration: underline;
	background: #ff9b9d;
}

.page_login #maching_mail a:active {
	text-decoration: none;
	background: #faa8cd;
}



.page_login ul:after {
	display: block;
	clear: both;
	height: 0;
	content: '';
}

.page_register #kaiin_users_comment {
	margin: 10% 0 20px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	font-size: 12px;
}

.page_register #kaiin_kiyaku {
	overflow: auto;
	width: 100%;
	margin: 10% 0 20px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	font-size: 12px;
}

.page_login .login_error,.page_register .login_error {
	margin: 0 0 16px !important;
	padding: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #c00;
	border-radius: 3px 3px 3px 3px;
	background-color: #ffebe8;
}

.page_login p.message,.page_register p.message {
	margin: 0 0 16px !important;
	padding: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #e6db55;
	border-radius: 3px 3px 3px 3px;
	background-color: #ffffe0;
}

.page_register #first_name,.page_register #last_name {
	width: auto;
}



/* 物件管理 担当者 */
#list_simplepage2 #charge {
	clear: both;
	background: #f7f7f7 linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) repeat scroll 0 0;
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	padding: 10px;
	overflow: hidden;
	margin-bottom: 3.5em;
}

#list_simplepage2 #charge .role_kannri_tanto_pic {
	display: block;
	float: left;
	margin-right: 10px;
}

#list_simplepage2 #charge .role_kannri_tanto_pic img {
	width: 100px;
	height: auto;
}

#list_simplepage2 #charge .role_kannri_tanto_name {
	display: block;
	color: #000;
	margin-bottom: 10px;
}

#list_simplepage2 #charge .role_kannri_tanto_comment {
	display: block;
	line-height: 18px;
}


/*  = 物件一覧 条件検索 再検索 
---------------------------------------------------------------------- */
.archive-fudo #content{
	position:relative;
}

#fudou_page_jyoken_in_archive label.j_open,
#fudou_page_jyoken_in_archive label.j_close{
	background: #eee none repeat scroll 0 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px 8px;
	position:absolute;
	left: calc(100% - 110px);
	top: 0;
	z-index: 3;
	font-size: 12px;
}
#fudou_page_jyoken_in_archive label.j_close{
	top: 20px;
	left: calc(100% - 120px);
}

#fudou_page_jyoken_in_archive input[type="radio"]#j_open,
#fudou_page_jyoken_in_archive input[type="radio"]#j_close {
	display: none;
}

#fudou_page_jyoken_in_archive #page_jsearch_page {
	display: none;
}

#fudou_page_jyoken_in_archive #j_open:checked ~ #page_jsearch_page{
	display: block;
	margin: 34px 0;
}
#fudou_page_jyoken_in_archive #j_open:checked ~ .j_open{
	display: none;
}

#fudou_page_jyoken_in_archive #j_close:checked ~ #page_jsearch_page{
	display: none;
}

#fudou_page_jyoken_in_archive #j_close:checked ~ .j_close{
	display: none;
}


/* */


/* 00= Fudousan Plugin Copyright
---------------------------------------------------------------------- */
#nendebcopy {
    font-size:12px;
    max-width:1240px;
    padding:0 20px 0 0;
    text-align:right;
    background-color:#000;
}

#nendebcopy a {
    text-decoration:none;
    color:rgba(255,255,255,.55);
}

#nendebcopy a:hover {
    color:#fff;
}

/*  */